#layout {
  display: flex;
  flex-direction: row;
}

#icon {
  position: fixed;
  background-color: var(--bg2);
  top: var(--headerHeight);
  left: 0;
  height: 6em;
  width: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1px var(--border1);
  border-bottom: solid 1px var(--border1);
  cursor: pointer;
  user-select: none;
}

.sideBarOpen {
  margin: var(--headerHeight) auto 0;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--border1);

  position: fixed;
  z-index: 5;

  width: 20%;
  height: 100vh;

  left: 0;
  background: var(--bg2) ;
  user-select: none;
}
.sideBarOpen h1 {
  margin-left: 1%;
  position: fixed;
  width: 19%;
}

.filterContainer{
  position: fixed;
  margin-top: var(--h1Height);
  width: 20%;
  
  height: calc(100vh - var(--h1Height) - var(--headerHeight));
  overflow-y: auto;
}

.filterContainer small {
  padding: 1em;
}

.filterContainer details {
  padding: 1em;


  cursor: pointer;
}

.filters, .tags {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 18vw;
}

.filter, .tag {

  background-color: var(--s2);
  border: 2px solid var(--bg2);
  padding: .8em;
  margin: .2em;
  cursor: pointer;
  border-radius: 1em;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter {
  font-size: .7em;
  background-color: var(--s1);
}

.filter:hover {
  background-color: var(--s3);
  border: 2px solid var(--s3);
  color: var(--bg1);
}
.tag:hover {
  background-color: var(--bg2);
  border: 2px solid var(--s2);
}



.sideBarClosed {
  margin: var(--headerHeight) auto 0;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--border1);

  position: fixed;
  z-index: 5;

  width: 20%;
  height: 100vh;
  
  left: -19%;
}


.bodyOpen {
  margin: var(--headerHeight) auto 0;
  padding: 0;
  width: 80%;
  position: absolute;
  right:0;
  background-color: var(--bg3);
}

.bodyClosed {
  margin: var(--headerHeight) auto 0;
  padding: 0;
  width: 99%;
  position: absolute;
  right:0;
  background-color: var(--bg3);
}

.body {
  margin: var(--headerHeight) auto 0;
  padding: 0;
  width: 100%;
  background-color: var(--bg3);
}


.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeight);
}

.logo {
  font-weight: 300;
  color: var(--t1);
  /* text-transform: lowercase; */
  font-size: 1em;

}

.navToggle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--headerHeight);
  margin-left: 1em;
  align-items: center;
  color: var(--t1);
}

#toggle {
  display: none;
}


.mobileNav {
  display: none;
  position: absolute;
  top:0;
  left: -100%;
  height: 100vh;
  z-index: 6;
  background-color: var(--bg2);
  transition: 0.5s ease;
  width: 100vw;
  text-align: center;
 
}

.mobileNavHeading {
border-bottom: 1px solid var(--bg1);
padding: 1em;
}

.mobileNav > ul {
  padding-inline-start: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobileNav li {

  margin: 3em;
}
.mobileNav a {
  padding: 0;
  margin: 0;

}
.mobileNav li a:hover {
  color: var(  --primary-var2);
}

#toggle:checked ~ .mobileNav {
  left: 0;
}

#toggle:checked ~ .black {
  display: block;
  opacity: 1;
}

@media (max-width: 768px) {
  .headerWrap { justify-content: center;}
  .navitem {display: none;}
  .mobileNav {display: block;}
  .navToggle {display: flex;}
  .logo {text-align: center;} 
  #icon {  width: 2em; z-index: 5;}
  .sideBarOpen { width: 25%;}
  .sideBarOpen h1 {  margin: 0; padding: 0; width: 25%; justify-content: center;}
  .filterContainer{ width: 25%; margin-left: 0; padding: 1em;}
  .filters, .filters ul, .filters li {padding-top: 1em}
  .sideBarClosed {left: -187%;}
  .bodyOpen {width: 75%;}
  .bodyClosed {width: 100%;}

}


@media (max-width: 425px) {
  #icon{display: none;}
  .logo { font-size: 0.8em;}
}

