.background {
  background-color: var(--bg1);
  height: var(--headerHeight);
  position: relative;
}


#layout {
  display: flex;
  flex-direction: row;
}

#icon {
  position: fixed;
  background-color: var(--bg2);
  top: var(--headerHeight);
  left: 0;
  height: var(--h1Height);
  width: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1px var(--border1);
  border-bottom: solid 1px var(--border1);
  cursor: pointer;
  user-select: none;
  color: var(--t1)
}

.sideBarOpen {
  /* margin: var(--headerHeight) auto 0; */
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--border1);

  position: fixed;
  z-index: 5;

  width: 20%;
  height: 100vh;

  left: 0;
  background: var(--bg1) ;
  user-select: none;
  transition: 1s;
}
.sideBarOpen h1 {
  margin-left: 1%;
  position: fixed;
  width: 18%;
}

/* FILTERS DELETE  below*/
.filterContainer{
  position: fixed;
  margin-top: var(--h1Height);
  width: 20%;
  
  height: calc(100vh - var(--h1Height) - var(--headerHeight));
  overflow-y: auto;
}

.filterContainer small {
  padding: 1em;
}

.filterContainer details {
  padding: 1em;


  cursor: pointer;
}

.filters, .tags {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 18vw;

}

.filter, .tag {
  font-size: .5em;
  background-color: var(--p2);
  border: 2px solid var(--bg2);
  padding: .8em;
  margin: .2em;
  cursor: pointer;
  border-radius: 1em;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: var(--font2);
}

.filter {
  font-size: .5em;
  background-color: var(--p3);
}

.filter:hover {
  background-color: var(--s3);
  border: 2px solid var(--s3);
  color: var(--bg1);
}
.tag:hover {

  background-color: var(--bg2);
  border: 2px solid var(--s2);
}

/* FILTERS DELETE above */



.sideBarClosed {
  /* margin: var(--headerHeight) auto 0; */
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--border1);

  position: fixed;
  z-index: 5;

  width: 20%;
  height: 100vh;
  
  left: -18%;
  transition: 1s;
}

.bodyOpen {
  /* margin: var(--headerHeight) auto 0; */
  padding: 0;
  width: 80%;
  position: absolute;
  right:0;
  background-color: var(--bg1);
  transition: 1s;
}

.bodyClosed {
  /* margin: var(--headerHeight) auto 0; */
  padding: 0;
  width: 98%;
  position: absolute;
  right:0;
  background-color: var(--bg1);
  transition: 1s;
}

.body {
  /* margin: var(--headerHeight) auto 0; */
  padding: 0;
  width: 100%;
  background-color: var(--bg1);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: var(--bg2);
  top: 0;
  transition: 0.6s;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeight);
}

.logo {
  font-weight: 400;
  color: var(--t1);
  /* text-transform: lowercase; */
  font-size: 1em;
  margin: 0;
}

.navToggle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--headerHeight);
  margin-left: 1em;
  align-items: center;
  color: var(--t1);
}
.navToggle span{
  color: var(--t1);
}
.navToggle:hover {
  background-color: unset;
}

.mobileNav {
  position: fixed;
  z-index: 99;

  top:0;
  left: -100vw;

  width: 100vw;
  height: 100vh;

  text-align: center;
  background-color: var(--bg2);

  transition: 0.5s ease;
}

.mobileNavHeading {
border-bottom: .5em solid  var(--border2);
padding: 1em;
}

.mobileNav > ul {
  padding-inline-start: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobileNav li {

  margin: 3em;
}
.mobileNav a {
  padding: 0;
  margin: 0;

}
.mobileNav li a:hover {
  color: var(  --primary-var2);
}


@media (max-width: 768px) {
  .headerWrap { justify-content: center;}
  .navitem {display: none;}
  .mobileNav {display: block;}
  .navToggle {display: flex;}
  .logo {text-align: center;} 
  #icon {  width: 2em; z-index: 5;}
  .sideBarOpen { width: 25%;}
  .sideBarOpen h1 {  margin: 0; padding: 0; width: 25%; justify-content: center;}

  /* FILTERS DELETE below */
  .filterContainer{ width: 25%; margin-left: 0; padding: 1em;}
  .filters, .filters ul, .filters li {padding-top: 1em}
  /* FILTERS DELETE above */
  
  .sideBarClosed {left: -187%;}
  .bodyOpen {width: 75%;}
  .bodyClosed {width: 100%;}

}


@media (max-width: 425px) {
  #icon{display: none;}
  .logo { font-size: 0.8em;}
}

@media (max-width: 320px) {
  .navToggle{ margin: 0 .5em;}
}
