.main {
    /* padding: 2em; */
    width: 60%;
    padding: 0;
    position: relative;
    padding-bottom: 15rem;

}
.main h1 {
    height: var(--h1Height);
    padding: 0 1em;
    display: flex;
    align-items: center;
}
.main h2 {
    /* height: var(--h1Height); */
    padding: 0 1em;
    display: flex;
    align-items: center;
    padding-top: calc(var(--headerHeight));
    text-decoration: none;
    letter-spacing: normal;
    font-style: normal;
    font-size: 1rem;
}
.main h3 {
    /* height: var(--h1Height); */
    padding: 0 2em;
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: normal;
    font-size: .8em;
}
.main p,
.main ul,
.main ol {
    margin: 0;
    padding: 0 2em;
    list-style-type: unset;
    line-height: 2em;
}

.main li {
    margin: 0;
    list-style-position: inside;
    padding: 0 1em;
}

.main h2 {
    counter-increment: h2-counter 1;
}
.main h2::before {
    content: counter(h2-counter) "." ' \2004'; 
}
.main h3 {
    counter-increment: h3-counter 1;
}
.main h3::before {
    content: counter(h2-counter) "." counter(h3-counter) "." ' \2004'; 
}

.tocLink {
    color: unset;
    text-transform: capitalize;
    transition: 0;
    list-style-position: inside
}
.tocLink:hover {
    color: unset;
    text-transform: capitalize;
    background-color: var(--s2);
}

.wrapper {
display: flex;
flex-wrap: wrap;
gap: 1rem;
padding: 1rem;
justify-content: center;
/* background-color: var(--bg1); */
}

.blog {
    border: 2px dashed var(--p2);
    border-radius: .5rem;
    padding: .5em;
    background: linear-gradient(to right top, var(--bg2), var(--p2));
    position: relative;
    z-index: 1;
    /* transition: 1s ; */
    overflow: hidden;
    background-image: url("../public/smoke2.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: var(--bg2);
    max-width: 30%;
    user-select: none;
}

.blog::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right top, var(--bg2), var(--s2));
    z-index: -1;
    transition: 1s;
    opacity: 0;
}

.blog:hover {
    box-shadow: 5px 5px 20px var(--border1);
    border: 2px solid var(--t2);
}

.blog:hover::before {
    opacity: .5;
}
#categoryTag {
    width: max-content;
    padding: .2rem .4rem;
    background-color: var(--bg1);
    border: 2px solid transparent;
    border-radius: .5em;
    font-size: .5rem;
    transition: 1s;
  }
.blog:hover #categoryTag {
    border: 2px solid var(--p2);
  }

.blog h2 {
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0;
    padding: 0 0 .5em 0;
    color: var(--t1);
    font-size: .7rem;
  font-family: var(--font-mono);
    margin: .5rem;
}

.blog h3 {
    padding: 0;
    margin: .5rem;
    color: var(--t1);
  font-family: var(--font-mono);
    font-style: normal;
    font-weight: 400;
    font-size: .5rem;
}

.blog h4 {
    padding: 0;
}

.blog a {
    padding: 0;
}

.blog p {
    font-size: .7rem;
    padding: 0;
    margin: .5rem;
    text-transform: initial;
}

.blog time {
    font-size: .7rem;
    padding: 0;
    margin: 0;
    text-transform: initial;
}

.category {
    text-transform: initial;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .main {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .blog {
        max-width: 100%;
    }
}

@media (max-width: 425px) {

    .blog {
        max-width: 100%;
    }
}