.cardWrap {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    gap: 1em;
    position: relative;
}

.card {
    display: flex;
    align-content: center;
    overflow: hidden;
    height: 33vh;
    width: var(--container)/2;
    position: relative;
    transition: .5s;
}

.title {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color: var(--t1);
    font-size: 1.5em;
    display: none;
    z-index: 5;
}

.details {
    margin: 0;
    font-size: .6rem;
    color: var(--color2);
}


.card:hover {
    opacity: 80%;
}
.card:hover .title {
    color: var(--t1);
    display: block;
    background-color: aliceblue;
}



@media (max-width: 768px) {
    .cardWrap {gap: 1em; grid-template-columns: 1fr 1fr;}
    .card { height: 30vw;}
    .filterMenu{display: none;}
    .projects{width: 100%; margin-left: 0%;}
    .cardWrap {width: 100%;}
}

@media (max-width: 425px) {
    .cardWrap {flex-direction: column; gap: 1em; padding: 0; grid-template-columns: 1fr;}
    .card {height: 50vw; margin-bottom: 3rem; overflow:visible;}
 
    .title {
        position: absolute;
        bottom: -3rem;
        height: 3rem;
        width: 100%;

        padding: 0rem 1rem;
        color: var(--t1);
        display: block;
        z-index: 5;
        
    }
    .details {font-size: unset; padding: 0rem 1rem; margin: 0;}
    
}