.imageGrid {
    margin: auto;
    padding: 2em;

    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;

    position: relative;
    overflow: hidden;
    transition: 1s;
      background-color: var(--bg1);
}

.squareSingle {
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 45vw;
}

.squareGrid {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}

.landscapeSingle {
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 75%;
}

.landscapeGrid {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
}

.wrapper {
    height: auto;
    background-color: var(--bg2);
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    user-select: none;
}

.wrapper:hover {
    border: 2px solid var(--p2);
}

.imageSize {
    display: flex;
    align-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}


.caption {
    display: flex;
    flex-direction: column-reverse;
    padding: .5em;
    position: relative;
}

.caption p {
    margin: 0;
    padding: .5em;
}

.projectLink {
    padding: .5em;

    /* border-top: 1px solid var(--border1); */

    color: var(--t2);

  font-family: Roboto mono, monospace;
    width: fit-content;
    font-size: .6rem;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
    transition: 0s;


}

.projectLink:hover {
    background-color: var(--s2);
    background-image: none;

}

.toggle {
    position: relative;
    width: max-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    transition: 1s;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    cursor: pointer;
    padding: .5em 1em;
}

.toggle:hover {
    color: var(--t2);
    background-color: var(--p2);
    background-image: url("../public/smoke2.gif");
    background-blend-mode: overlay;
}


.sidePanel {
    position: fixed;
    right: 0;
    top: calc(var(--headerHeight));
    background-color: yellowgreen;
    height: calc(100vh - var(--headerHeight));
    width: 300px;
    z-index: 99;
    transition: 1s;
    user-select: none;
}

.sidePanel h3 {
    padding-left: .5em;
    padding-bottom: 1em;
    border-bottom: 2px dotted var(--t1);
}

.sidePanel .toggle {
    margin-top: 1rem;
    width: auto;
    padding: .5em 1em;
    height: 3em;


}

.sidePanelToggle {
    width: 2em;
    height: 2em;
    background-color: var(--p2);
    position: fixed;
    right: .5em;
    bottom: .5em;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(var(--t1), .3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    user-select: none;
}


.sidePanelToggle:hover {
    background-color: var(--p3);
    box-shadow: 0 0 20px var(--p3);

    /* top: calc(var(--headerHeight)); */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidePanelToggle span {
    color: var(--bg1);
}


.toggleBottom {
    position: fixed;
    right: 0;
    z-index: 1;
    font-size: .5em;
    width: max-content;
}

.toggleCaption {
    bottom: 3em;
}

.toggleGrid {
    bottom: 0em;
}

.hide {
    display: none;
}

.mix:active span {
    transform: rotateZ(90deg);
}
@media (max-width: 1440px) {
    .landscapeSingle {
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 93%;
    }

}

@media (max-width: 768px) {
    .wrapper {
        border: none;
    }

    .wrapper:hover {
        border: none;
    }


    .imageGrid {
        padding: 1rem 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }

    .squareSingle {
        padding: 1rem 1rem;
        grid-template-columns: 1fr;
        gap: 3rem;
        width: 100vw;
    }

    .squareGrid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100vw;
        padding: 5px;
        gap: 5px;
    }

    .landscapeSingle {
        padding: 1rem 1rem;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100vw;
    }

    .landscapeGrid {
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        padding: 5px;
        gap: 5px;
    }

    .link {
        position: fixed;

        right: 0;
        z-index: 1;
        font-size: .5em;
    }

    .toggleCaption {
        bottom: 0;
    }

    .toggleGrid {
        bottom: 3em;
    }

    .link {
        position: fixed;

        right: 0;
        z-index: 1;
        font-size: .5em;
    }

    .toggleCaption {
        bottom: 0;
    }

    .toggleGrid {
        bottom: 3em;
    }



}

@media (max-width: 425px) {

    .squareSingle {
        padding: 1rem 0rem;
        grid-template-columns: 1fr;    
        gap: 2rem;
        width: 100vw;
    }
    .squareGrid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100vw;
        padding: 0px;
        gap: 0px;
    }
    .landscapeSingle {
        padding: 1rem 0;
        grid-template-columns: 1fr;  
        gap: 2rem;
        width: 100vw;
    }
    
    .landscapeGrid {
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        padding: 1em 0px;
        gap: 0px;
    }

    .caption {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .sidePanel .toggle {
        margin-top: 1rem;
        width: auto;
        padding: .5em 1em;
        height: 3em;

    }

    .captionLink {
        display: none;
    }

    .projectLink {
        font-size: .3em;
        padding: .2rem 0;
    }

    .caption p {
        font-size: 40%;
        padding: .2rem 0;
    }
    .caption a {
        font-size: 30%;
        padding: .2rem 0;
    }

    .captionHide {
        display: none;
    }
    .toggleGray, .toggleGray span {
        color: var(--p3);
        background-color: var(--p2);
    }
    .toggleGray span {
        background-color: transparent;
    }


    .sidePanel h3 {
        text-align: center;

        padding: 1em 1em;
        margin: 0;

    }

    .sidePanel .toggle {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        padding: .5em 1em;
        margin: 0;
        height: auto;
        min-height: 3em;
        width: 80%;

    }

    .sidePanel {
        width: 200px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        gap: 1em;
    }

    .image1 {
        border: 0px solid var(--bg1);
    }
}