.meh {
    background-image: url("../public/meh.gif") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2 / 1;
    height: 10vh;
    position: relative;
    /* bottom: 0;
    right: 50; */
}
.cake {
    background-image: url("../public/cake.gif") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2 / 1;
    height: 10vh;
    position: relative;
    /* bottom: 0;
    right: 50; */
}

.think {
    background-image: url("../public/think.gif") ;
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2 / 1;
    width: 200px;
    position: relative;
    margin: 0 auto -20px;
    z-index: 99;
}
.talk {
    /* background-image: url("../public/talk.gif") ; */
    /* background-position: center; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    aspect-ratio: .8 / 1;
    height: 100px;
    position: absolute;
    top: -170px;
    right: 80px;
    z-index: 99;
}
.happyblue {
    /* background-image: url("../public/happyblue.gif") ; */
    /* background-position: bottom; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    height: 150px;
    aspect-ratio: 1 /1;
    position: absolute;
    top: -110px;
    right: 0;
    z-index: 99;
}


.fire {
    /* background-image: url("../public/fire.gif") ; */
    /* background-position: top; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    z-index: 9;

    height: 180px;
    width: 200px;
    aspect-ratio:  1 / 1;
    position: absolute;
    bottom: 0;
    
    right: 3em;
}
.friday {
    /* background-image: url("../public/friday.gif") ; */
    /* background-position: bottom; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    z-index: 10;

    height: 70px;
    width: 150px;
    position: absolute;
    bottom: 3em;
    right: 3.2em;

}
.cash {
    background-image: url("../public/cash.gif") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2 / 1;
    height: 7vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: unset;
}

.party {
    min-height: calc(100vh - var(--headerHeight) - var(--h1Height));
    background-image: url("../public/party.gif") ;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: var(--bg2);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    padding: 2em;
}

.cash:hover {
    background-color: unset;
    background-image: url("../public/cash.gif") ;
}

.meh:hover {
    background-color: unset;
    background-image: url("../public/meh.gif") ;
}

.icon {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: .5em;
    overflow: hidden;
    padding: 0;
    margin: 1em;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--p3);
    /* background-color:red ; */
    height: 2em;
    aspect-ratio: 1 / 1;

    background-image: url("../public/sebastian-kovacs-portfolio.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
}

.icon:hover {
        background-color:var(--s2) ;
background-blend-mode: difference;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}


@media (max-width: 425px) {
    .party {
        padding: 1em 0;
        
    }

    .friday, .fire {
        position: relative;
        bottom: 0;
        right: 0;
        justify-content: center;
        display: flex;
        margin-bottom: -30px;
    }
    .friday {
        margin-top: 1em;
        margin-left: 1em;
        margin-bottom: -70px;
    }


    .icon {
        margin: .5em;
    }

    .think {
        width: 200px;
        margin-bottom: -50px;
    
    }
    .talk {
        aspect-ratio: .8 / 1;
        height: 80px;
        position: absolute;
        top: -100px;
        right: 80px;
        z-index: 99;
    }
    .happyblue {
        height: 100px;
        aspect-ratio: 1 /1;
        position: absolute;
        top: -74px;
        right: 0;
        z-index: 99;
    }

}