:root {
  --bg1: rgb(255, 255, 255) ;
  --bg2: rgb(243, 243, 243);
  --bg3: 243, 243, 243 ;
  --border1:  #dbdbdb;
  --border2:  rgb(112, 112, 112);

  --p1:	125, 60, 164;
  --p2: #EADDFF;
  --p3: #a784df;

  --s1: #3e8de7;
  --s2: #fffab6;
  --s3: #1D192B;

  --t1: #272e44;
  --t2: #664364;

  --container: 90vw;
  --headerHeight: 3rem;
  --h1Height: 5rem;

  --font2: Roboto mono, monospace;

}


html {
  width: 100%;
  overflow-y: scroll;
  background-color: var(--bg1);
}

*, html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Long Cang'; */
font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  box-sizing: border-box;
  color: var(--t1);
  

}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--bg2);
  outline: 1px solid var(--p2);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--p2);
  outline: 1px solid var(--p1);
}

header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  z-index: 999;
  background-color: var(--bg2);
}


main {min-height: 70vh;}

section {
  width: var(--container);
  margin: auto;
}

details {
  cursor: pointer;
}
details[open]{
  /* background-color: var(--bg1); */
  /* width: 100vw; */
  position: relative;
}


details[open] summary{
  background-color: var(--s2);
}


time {
  font-size: inherit;
}

span {
  color: var(--s1);
}
a:hover span{
  transition: 1s;
  color: var(--t2);
}
footer {
  height: 55px;
  background-color: var(--bg2);
  z-index: 999;
  padding: 2em;
}

footer section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
footer section ul {
  flex: 30% 50%;
  padding: 0;
  margin: 1em 0;
}

footer li {
  margin-top: 1em;
  list-style: none;
}

footer ul li:first-child {
  font-weight: 600;
}

a , summary{
  color: var(--s1);
  text-decoration: none;
  transition: 1s ;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  /* background-color: var(--bg2); */

  /* background-image: url("../public/smoke1.gif") ; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

main a:hover, aside a:hover, summary:hover {
  color: var(--t2);
  background-color: var(--p2);
  background-image: url("../public/smoke2.gif") ;
  background-blend-mode: overlay;
}


nav a, nav summary, nav details li {
  color: var(--t1);
    margin-left: 1em;
}
nav a {
  user-select: none;
}

label {
  cursor: pointer;
  user-select: none;
  color: var(--s1);
}
label:hover {
  color: var(--t2);
  background-color: var(--p2);
}

h1 {
  color: var(--t1);
  font-size: 1.6rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase; 
  user-select: none;
}



h2 {
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  text-decoration:double overline underline var(--t2) ;
  letter-spacing: .2rem;
  color: var(--t2);
  font-size: 1.4rem;
  
}

h3 {
  padding: .5em 0;
  color: var(--t1);
  font-size: 1.2rem;
  font-weight: 700;
}
h4 {
  padding: .5em 0;
  color: var(--t1);
  font-size: 1rem;
}

p, li, time {
  margin-bottom: 1rem;
  /* font-family: 'Inconsolata', monospace; */
  font-family: Roboto mono, monospace;
  font-size: 14px;
}

ul {
  padding-inline-start: 30px;
}

@media (max-width: 768px) {
  section {width: 95%;}
}


@media (max-width: 425px) {
  section {width: 100%;}
  footer section { flex-direction: column;}
  footer section ul { padding: 0 5%; margin-top: 1rem;}
   h2, h3, h4, p, aside {padding: 1rem;}
  section ul {padding-left: 2.5rem;}
  section li {margin: 0rem 1rem 1rem 0;}
}
