.details {

    display: flex;
    flex-direction: column;

    background-color: var(--bg1);
    border-right: solid 1px var(--border1);

    position: fixed;
    z-index: 5;

    width: 20%;
    height: 100vh;

    left: 0;
    background: var(--bg2);

}

.details>h1 {
    border-bottom: solid 1px var(--border1);
    padding: 1em;
    display: flex;
    align-items: center;
}


.detailsContainer {
    height: calc(100vh - var(--h1Height) - var(--headerHeight));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.details ul {
    padding-inline-start: 3em;
    padding-inline-end: 3em;
}

.details li {
    padding: 1em 0;
    margin: 0;
}

.details h3 {
    padding-left: 1rem;
}

.details p {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
}

.linkContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em .5em 0;

}

.projDetails {
    padding: 0 1em;
    /* margin: 1em; */
}

.projDetails h3 {
    padding-left: 0;
}

.projDetails ul {
    padding: 0;
}

.projDetails li {
    border-top: 1px solid var(--border1);
    padding: .5em;
    /* font-size: .9em; */
    list-style: none;
    font-size: .4em;
}

.main {
    /* padding: 2em; */
    width: 80%;
    position: absolute;
    right: 0;
}

.top {
    position: absolute;
    top: calc(-1 * var(--headerHeight));
}

.gridWrap1, .gridWrap2 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1em;
    position: relative;
    margin-bottom: 3em;
}
.gridWrap1{
    grid-template-columns: 1fr;
}
.gridWrap2 {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
}

.thumb {
    position: relative;
}
.pic1, .pic2 {
    aspect-ratio: 16 / 9;
    position: relative;
    transition: .5s;
    cursor: pointer;
    overflow: hidden;
}

.plan {
    height: calc(100vh - var(--headerHeight));
    width: var(--container)/2;
    position: relative;
    transition: .5s;
    cursor: pointer;
}

.imageTitle {
    display: none;
    position: absolute;
    bottom: 0;
    padding: .5em 1em;
    align-items: center;
    background-color: var(--p3);
    color: var(--bg2);
    font-family: 'Inconsolata', monospace;
    font-size: .5em;
    font-weight: 500;
}

.pic1:hover .imageTitle, .pic2:hover .imageTitle  {
    display: flex;
    position: absolute;
}

.planTitle {
    font-size: 1em;
    padding: 0 1em;
}

.planDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 1em;
    color: var(--t1);
}
.planDetails span {
    color: var(--t1);
}

@media (max-width: 768px) {

    .sideLink {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;
        font-size: .5em;
    }

    .cardWrap {
        gap: 10px;
    }

    .card {
        height: 30vw;
    }

    .main {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .details {
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;
        border-right: 0;
    }

    .detailsContainer {
        height: fit-content;
        overflow: visible;
    }

    .projectDetails {
        height: 0;
    }

    .projDetails {
        float: right;
        margin: 0em 1em 0.5em;
        padding: 0 1em;
        background-color: var(--bg2);
    }

    .projects {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .cardWrap {
        width: 100%;
    }

    .gridWrap1, .gridWrap2 {
        padding: 0;
        margin-top: 2em;
        margin-bottom: 0;
    }

    .gridWrap2 {
        gap: .1em;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .thumb {
        height: calc(60vw);
    }
    .pic1 {
        /* height: calc(50vh); */
        aspect-ratio: 16 / 9;
    }
    .pic2 {
        /* height: calc(100vw / 3); */
        aspect-ratio: 1 / 1;
    }

    .planTitle{
        padding: 0;
    }
    .planDetails {
        padding:  .5em;
    }

    .linkContainer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pano {
        padding: 1em;
        flex-grow: 1;
        text-align: center;
    }
}

@media (max-width: 425px) {

    .pic1:hover .imageTitle, .pic2:hover .imageTitle  {
        display: none;
    }

    .projDetails {
        float: none;
        margin: 0em 1em;
        padding:  1em 0 0;
        background-color: var(--bg2);
    }
    .details {
        padding-bottom: 0rem;
    }

    .cardWrap {
        flex-direction: column;
        gap: 0px;
    }

    .card {
        height: 33vw;
    }

    .label,
    .label2 {
        top: .7em;
        right: .5em;
    }

    .projDetails h3 {
        padding: 0 0 .5em 0;
    }

    /* .projDetails li {
        font-size: .5rem;
    } */


    .gridWrap2 {
        gap: .1em;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pic1 {
        /* height: 100vw; */
        aspect-ratio: 16 / 9;
    }

    .pic2 {
        /* height: calc(100vw / 3); */
        aspect-ratio: 1 / 1;
    }

    .plan {
        height: 100vw;
    }
    .planTitle{
        padding: 0;

    }
    .planDetails {
        padding: .5em;
        font-size: .7em;
    }


}