.background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.493);
    z-index: 9;
}

.panel {
    position: fixed;
    top: var(--headerHeight);
    bottom: 0;
    z-index: 10;

    padding: 1em;

    height: calc(100vh - var(--headerHeight));
    width: 300px;

    border: 5px solid var(--border1);
    border-radius: .5em;

    transition: all ease 1s;

    background-image: url("../public/smoke1.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: var(--border1);
}

.panel:hover {
    border: 5px solid var(--border1);
    box-shadow: 5px 5px 20px var(--border1);


    background-color: var(--p2);
    background-image: url("../public/smoke2.gif") ;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

}

.panel h3 {
    padding-left: .5em;
    padding-bottom: 1em;
    border-bottom: 2px dotted var(--t1);
    text-align: center;
}

.panel p, .panel a{
    background-image: none;
    background-blend-mode: overlay;
    margin-top: 1rem;
    width: auto;
    padding: .5em 1em;
    height: 3em;
    transition: 1s;
    font-weight: 500;
}

.panel p:hover, .panel a:hover {
    background-image: url("../public/smoke1.gif");
    background-blend-mode: overlay;
    background-color: var(--s2);
    cursor: pointer;
}

.toggle {
    width: 2em;
    height: 2em;
    background-color: var(--p2);
    position: fixed;
    right: .5rem;
    bottom: .5rem;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(var(--t1), .3);
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: 1s;
    user-select: none;
    z-index: 10;
}


.toggle:hover {
    background-color: var(--p3);
    box-shadow: 0 0 20px var(--p3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle span {
    color: var(--bg1);
}

.sidePanelTitle {
    height: var(--h1Height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--t1);
    font-size: 1.6rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase; 
    user-select: none;
    text-decoration:none ;
    letter-spacing: 0;
}

.content {
    padding: 1rem 2rem 1rem 1.5rem;
    display: grid;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    grid-gap: .5rem;
    height: calc(100vh - var(--h1Height) - var(--headerHeight));
    overflow-y: auto;
}
  
.content a{
    justify-items: flex-start;
    padding: 0;
    color: var(--t1);
  font-family: Roboto mono, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: .5rem;
}

.toggleButtonGroup {
    position: absolute;
    bottom: calc(var(--h1Height) - var(--headerHeight) + 1.5rem );
    right: -.75rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.leftPanelToggleButton {
    display: flex;
    position: relative;
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: none;
    
    font-family: var(--font2);
    font-size: .5rem;
    background-image: url('/sebastian-kovacs-portfolio.png');
    background-position: center;
    background-blend-mode: normal;
    background-color: none;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    border: 2px solid var(--p3);
    border-radius: .3em;
    transition: 0s;
    cursor: pointer;
    color: transparent;
}

#theme, #sidePanel {
    display: grid;
    place-items: center;
    background-image: none;
    background-color: black;
}
#contact {
    user-select: none;
    
}
#theme span, #sidePanel span {
 color: white;
 user-select: none;
}
#theme:hover span, #sidePanel:hover span  {
    color: black;
   }

#contact:hover, #theme:hover, #sidePanel:hover {
    background-blend-mode: difference;
    background-color: var(--s2);
    border: 2px solid var(--p3);
}
#contact:hover {
    background-image: url('/sebastian-kovacs-portfolio.png');
    color: transparent;
}


@media (max-width: 425px) {
    /* .panel {
        height: 2rem;
        top: unset;
        bottom: 0;
        width: 100%;
        padding: 0;
    } */
    .toggle {
        width: 1.5rem;
        height: 1.5rem;
        bottom: .25rem;
    }
    
}