.hello {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: var(--container);
    margin: 0 auto;
}

.headerContainer {
    width: 100%;
    padding: 0 1em;
}

.title {
    height: var(--h1Height);

    border-bottom: solid 1px var(--border1);
    display: flex;
    align-items: center;
    /* padding: 0 calc(2em - 1%); */
    padding: 0 1em;
    justify-content: space-between;
}

.padding {
    padding: 2em 4em;
}


.noPad {
    padding: 0;
    line-height: 2em;
}



.lightText,
.lightText li,
.lightText a {
    font-weight: 300;
    font-size: 1em;
    color: var(--t1);
}

.lightText a:hover {
    color: var(--s1);
}


.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.flexLeft {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.flex2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.address {
    display: flex;
    align-items: baseline;

}

.address p {
    padding-left: 1rem;

}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.resume {
    position: relative;
    z-index: 2;
    padding: 2rem 0;
    margin: 0 auto;

    width: 90%;
    height: calc(100vh - var(--headerHeight) - var(--h1Height));

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

    gap: 1rem;
}

.resume h2 {
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0;
    padding: 0 0 .5em 0;
    color: var(--t1);
}

.resume h3 {
    padding: 0;
    color: var(--t1);
    font-size: 1rem;
    font-weight: 500;
}


.list {
    /* background: linear-gradient(to right top, var(--bg2), var(--p2)); */
    border: 5px solid var(--border1);
    border-radius: .5em;
    height: min-content;

    max-width: 33%;
    width: max-content;

    padding: 1em;

    transition: all ease 1s;

    background-image: url("../public/smoke1.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: var(--border1);

}

.list:hover {
    border: 5px solid var(--border1);
    box-shadow: 5px 5px 20px var(--border1);


    background-color: var(--p2);
    background-image: url("../public/smoke2.gif");
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

}

.list h4 {
    padding: 0;
}

.list a {
    padding: 0 .2em;
}

.list li {
    margin: .5em 0 1em;
}

.backgroundCover {
    background-color: rgba(var(--bg3), 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}




.contact {
    position: relative;
    background: linear-gradient(to right top, var(--bg2), var(--p2));
    border: 3px solid var(--border2);
    box-shadow: 5px 5px 20px var(--border1);
    border-radius: .5em;
    padding: 1em;
    width: max-content;
    transition: ease-in-out 2s;
    margin: 4em auto;
    z-index: 9;
}
.contact h2 {
    letter-spacing: .5rem;
  }

.contact a {
    padding: 0 .5em;
    background-color: transparent;
    transition: none;
}

.contact a:hover {
    padding: 0 .5em;
    background-color: var(--s2);
    background-image: none;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.heroImage {
    position: absolute;
    top: -100px;
    z-index: 1;
}


.wide {
    width: fit-content;
}

.grow {
    flex: 1 33%;

}

.postTitle {
    position: relative;
    bottom: 0;
    z-index: 4;
    width: 100%;
    vertical-align: middle;
    font-size: 2.5em;
}

.lowerCase {
    text-transform: lowercase;
}

.mb1 {
    margin-bottom: 1em;
}

.mt1 {
    margin-top: 1em;
}

.bb1 {
    border-bottom: 1px solid var(--border1);
}

.bb2 {
    border-bottom: 1px solid var(--border2);
}

.bt1 {
    border-top: 1px solid var(--border1);
    padding-top: 1em;
}

.bt2 {
    border-top: 1px solid var(--border2);
    padding-top: 1em;
}

.back {
    padding: 1em 0;
    padding-left: 1em;
    display: flex;
    align-items: center;
    user-select: none;
    width: 100%;
}

.top {
    padding: 1em 0;
    padding-right: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pcOnly .top {
    width: 100%;
    /* border: none; */
}


.ontop {
    margin-top: 3em;
    position: relative;
    z-index: 99;
    bottom: 0;
    width: 100vw;
    background-color: var(--bg2);
}

.anchor {
    position: relative;
    top: calc(-1 * var(--headerHeight));
}

.anchor2 {
    position: absolute;
    top: calc(-1.3 * var(--headerHeight));
}



.buttons {
    padding: 0 2rem;
    display: flex;
}

.download {
    height: 3em;
    padding: 1em;
    margin: 1em;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: .5em;
    border: 1px solid var(--border1);
}

.link {

    padding: .5rem;
    margin: .5rem;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: .5em;
    border: 1px solid var(--border1);
    justify-content: space-between;
    color: var(--s1);
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    position: relative;
    overflow: hidden;
}

.link2 {
    padding: .3rem;
    margin: .3rem;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: .5em;
    border: 1px solid var(--border1);
    color: var(--s1);
    font-weight: 400;
    font-size: .5rem;
    text-transform: uppercase;
    font-family: var(--font2);
    font-style: normal;
    position: relative;
    flex: 1;

    /* display: grid; */
    /* grid-template-columns: 1fr auto 1fr; */

    justify-content: space-between;
    user-select: none;

}

.toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    padding: .5em;
    aspect-ratio: 1 / 1;
    /* height: 2em; */
    z-index: 10;
    border-left: 1px solid var(--border1);
}

.link:hover .toggle:hover {
    background-color: rgba(var(--p1), .6);
    color: var(--t2);
}


.hoverTop {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 3em;
    justify-content: center;
}


/* PC & Mobile Hide */

.pcOnly {
    display: flex;
}

.mobileOnly {
    display: none;
}

.mobileOnlyFlex {
    display: none;
}

.font2 {
    font-family: var(--font2);
    font-weight: 400;
    text-transform: capitalize;
    font-size: .5em;
}

.font2 span {
    font-weight: inherit;
}

.hide {
    display: none
}

.videoBackground,
.videoBackgroundContact {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - var(--headerHeight) - var(--h1Height));
    overflow: hidden;
    width: 100%;
}

#indexContact {
    position: fixed;
    height: 1.5rem;
    aspect-ratio: 1 / 1;
    bottom: 1rem;
    left: .5rem;
    overflow: hidden;

    background-color: none;
    color: transparent;

    background-image: url('/sebastian-kovacs-portfolio.png');
    background-position: center;
    background-blend-mode: normal;
    background-color: none;
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 10;

    border: 2px solid var(--p3);
    border-radius: .3em;

    transition: 0s;

    cursor: pointer;
}




#indexContact:hover {
    background-blend-mode: difference;
    background-color: var(--s2);
    border: 2px solid var(--p3);
}

.contact #indexContact {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    left: unset;
}

.credit {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 300px;
    margin-left: -150px;
    padding: .5rem;
    z-index: 2;
    background: linear-gradient(to right top, var(--bg2), var(--p2));

    border: 1px solid var(--t1);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background-color: var(--s2);

}

.credit p {

    margin: 0;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 1440px) {


    .resume h2 {
        font-size: smaller;
    }

    .resume h3 {
        font-size: smaller;
    }

    .resume li {
        margin-bottom: .7em;
    }

    .hide {
        display: none
    }

    .videoBackground {
        height: calc(100% - var(--h1Height));
        width: 100%;
    }

    .videoBackgroundContact {
        /* height: calc(100vh - var(--h1Height)); */
        width: 100%;
    }

}

@media (max-width: 1024px) {
    .resume {
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 2em;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .list h2 {
        font-size: 1.2rem;
    }

    .list h3 {
        font-size: 1rem;
    }

    .resume li {
        margin-bottom: 1em;
    }

    .list {
        flex-grow: 1;
        max-width: 40%;
    }


    .videoBackground {
        height: calc(100% - var(--h1Height));
        width: 100%;
    }

    .buttons {
        padding: unset;
    }

    .download {
        margin: 0 0 0 .5rem;

    }
}


@media (max-width: 768px) {

    .resume {
        height: auto;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        padding-bottom: 6em;
        gap: 2em;
    }

    .list {
        width: unset;
        max-width: 100%;
        flex: 1;
    }

    .grid2 {
        grid-template-columns: 1fr 1fr;
    }

    .videoBackground {
        height: calc(100% - var(--h1Height) - var(--headerHeight));
        width: 100vw;
    }

    .videoBackgroundContact {
        /* height: calc(100% - var(--headerHeight)); */
        width: 100vw;
    }

    .mobileResumeVideoBackgroundHeight {
        height: calc(100% - var(--h1Height) - 43px);
    }

    .container {
        width: 95%;
    }

    .contact {
        margin: 7rem auto 2rem;
        width: fit-content;
    }

    .credit {
        left: 0;
        margin-left: 0;
        width: 100%;
        background-color: transparent;
        background-image: none;
        border: none;
    }

    .credit p {
        padding: 0;
    }

    .heroImage {
        position: relative;
        top: 0;
    }

    .hero {
        height: 100%;
    }



    .padding {
        padding: 3em;
    }

    .back,
    .top {
        width: 100%;
    }

    .link {
        justify-content: center;
    }

    .title {
        padding: 0 1em;
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    .download {
        padding: 1em 0;
        margin: 0em;
        justify-content: center;
        background-color: unset;
        user-select: none;
        border-radius: 0;
        border: 0 solid var(--border1);
        border-bottom: 1px solid var(--border1);
        flex-grow: 1;
        font-size: .7em;
    }

    .list a {
        line-height: 2em;
    }

    .address {
        flex-direction: column;
    }

    .pcOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }

    .mobileOnlyFlex {
        display: flex;
    }

    .hide {
        display: none
    }


}


@media (max-width: 425px) {
    .container {
        width: 100%;
    }

    .headerContainer {
        width: 100%;
        padding: 0 1.5em;
    }

    .resume {
        align-items: center;
        padding: 0;
        margin-top: 1rem;
        gap: 0;
        width: 100%;
    }

    .list {
        margin: 5vw 10vw;
        padding: .5em .1em;
        flex: 1;
    }

    .list h2 {
        font-size: 6vw;
        padding: 1em;
        margin: 0;
        text-align: start;
    }

    .list h3 {
        font-size: .8em;
        padding: .5rem 1rem;
    }

    .list h4 {
        padding-left: 1em;
    }

    .list ul {
        padding: 0 1.6rem;
    }

    .list li {
        font-size: .7rem;
    }


    .list p {
        margin: 0;
    }

    .list a {
        font-size: 7vw;
    }


    .contact {
        margin: 5rem auto 4rem;
        padding: .5em .1em;
        width: min-content;
    }

    .contact h2 {
        font-size: 7vw;
        padding: 1em;
        margin: 0;
        text-align: start;
    }

    .contact h4 {
        padding-bottom: 0;
    }

    .contact a {
        padding: 0;
        background-color: transparent;
        transition: none;
        font-size: 1.5em;
    }

    .contact p {
        margin: 0;
    }

    .address p {
        padding-top: .5em;
    }

    .grid2 {
        grid-template-columns: 1fr;
    }

    .padding {
        padding: 0em;
    }

    .center {
        text-align: center;
    }

    .back,
    .top {
        font-size: .5em;
        padding: 1em .5em;
    }

    .hide {
        display: none
    }

    #indexContact {
        left: unset;
        right: .5rem;
        bottom: .5rem;
    }

    .mobileResumeVideoBackgroundHeight {
        height: calc(100% - var(--h1Height) - 63px);
    }

}

@media (max-width: 375px) {
    .contact {
        padding-bottom: 3em;
    }

    .link2 {
        font-size: 10px;
        margin: auto .3rem;
    }

    .link2 span {
        font-size: 16px;
    }
}