.hello {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: var(--container);
    margin: 0 auto;
}

.headerContainer {
    width: 100%;
    padding: 0 1em;
}

.title {
    height: var(--h1Height);

    border-bottom: solid 1px var(--border1);
    display: flex;
    align-items: center;
    /* padding: 0 calc(2em - 1%); */
    padding: 0 1em;
    justify-content: space-between;
}

.padding {
    padding: 2em 4em;
}

.noPad {
    padding: 0;
    line-height: 2em;
}



.lightText,
.lightText li,
.lightText a {
    font-weight: 300;
    font-size: 1em;
    color: var(--t1);
}

.lightText a:hover {
    color: var(--s1);
}


.flex {
    display: flex;
    flex-direction: column;
    height:60vh;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    /* align-items: stretch; */
    gap: 2em;
}

.flex2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list {
    background: linear-gradient(to right top, var(--bg2), var(--p2));
    border: 5px dashed var(--border1);
    box-shadow: 5px 5px 20px var(--border1);
    border-radius: .5em;
    padding: 1em;
    /* flex: 1; */
    transition: ease-in-out 2s;

}

.list:hover {
    background: linear-gradient(to right top, var(--p2), var(--p3));
    border: 5px solid var(--border1);
}

.list h4 {
    padding: 0;
}

.list a {
    padding: 0 .2em;
}

.list li {
    margin: .5em 0 1em;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.heroImage {
    position: absolute;
    top: -100px;
    z-index: 1;
}


.wide {
    width: fit-content;
}

.grow {
    flex: 1 25%;
    min-width: 120px;
}

.postTitle {
    position: relative;
    bottom: 0;
    z-index: 4;
    width: 100%;
    vertical-align: middle;
    font-size: 2.5em;
}

.lowerCase {
    text-transform: lowercase;
}

.mb1 {
    margin-bottom: 1em;
}

.mt1 {
    margin-top: 1em;
}

.bb1 {
    border-bottom: 1px solid var(--border1);
}

.bb2 {
    border-bottom: 1px solid var(--border2);
}

.bt1 {
    border-top: 1px solid var(--border1);
    padding-top: 1em;
}

.bt2 {
    border-top: 1px solid var(--border2);
    padding-top: 1em;
}

.back {
    padding: 1em 0;
    padding-left: 1em;
    display: flex;
    align-items: center;
    user-select: none;
    width: 100%;
}

.top {
    padding: 1em 0;
    padding-right: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pcOnly .top {
    width: 100%;
    /* border: none; */
}

.ontop {
    margin-top: 3em;
    position: relative;
    z-index: 99;
    bottom: 0;
    width: 100vw;
    background-color: var(--bg2);
}

.anchor {
    position: relative;
    top: calc(-1 * var(--headerHeight))
}

.hide {
    display: none
}

.buttons {
    padding: 0 2rem;
    display: flex;
}

.download {
    height: 3em;
    padding: 1em;
    margin: 1em;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: .5em;
    border: 1px solid var(--border1);
}

.link {
    /* height: 3em; */
    padding: .5em;
    margin: .5em;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: .5em;
    border: 1px solid var(--border1);
    justify-content: space-between;
    color: var(--s1);
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
}

.swap {
    margin: .5em;
    height: 20px;
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: .5em;
    border: 1px solid var(--border1);
    justify-content: space-between;
    overflow: hidden;
}

.linkTo {
    display: flex;
    align-items: center;
    padding-left: .5em;
    height: 2em;
    width: 75%;

}

.swap:hover {
    background-color: var(--p2);
    color: var(--t2);

}

.swap:hover a {
    background-color: var(--p2);
    color: var(--t2);

}


.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 25%;
    /* color: var(--border2); */

    border-left: 1px solid var(--border1);

}

.toggle:hover {
    background-color: var(--p3);
    /* color: var(--border1); */
}

.hoverTop {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 3em;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/* PC & Mobile Hide */

.pcOnly {
    display: flex;
}

.mobileOnly {
    display: none;
}

.mobileOnlyFlex {
    display: none;
}


@media (max-width: 1024px) {
    .flex {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .flex {
        height: auto;
    }

    .heroImage {
        position: relative;
        top: 0;
    }

    .hero {
        height: 100%;
    }

    .flex {
        flex-direction: column;
    }

    .padding {
        padding: 3em;
    }

    .back,
    .top {
        width: 100%;
    }

    .link {
        justify-content: center;
    }

    .title {
        padding: 0 1em;
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    .download {
        padding: 1em 0;
        margin: 0em;
        justify-content: center;
        background-color: unset;
        user-select: none;
        border-radius: 0;
        border: 0 solid var(--border1);
        border-bottom: 1px solid var(--border1);
        flex-grow: 1;
        font-size: .7em;
    }

    .list a {
        line-height: 2em;
    }

    .pcOnly {
        display: none;
    }

    .mobileOnly {
        display: block;
    }

    .mobileOnlyFlex {
        display: flex;
    }
}


@media (max-width: 425px) {
    .container {
        width: 100%;
    }

    .headerContainer {
        width: 100%;
        padding: 0 1.5em;
    }

    .list {
        margin: 1em;
        padding: .5em .1em;
    }

    .list h2 {
        font-size: 7vw;
        padding: 1em;
        margin: 0;
        text-align: start;
    }

    .list h3 {
        font-size: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .list h4 {
        padding-left: 1em;
    }

    .list ul {
        padding: 0 2em;
    }


    .list p {
        margin: 0;
    }

    .list a {
        font-size: 7vw;
    }
    .grid2 {
        grid-template-columns: 1fr;
    }

    .flex {
        display: block;
    }

    .padding {
        padding: 0em;
    }

    .center {
        text-align: center;
    }

    .back,
    .top {
        font-size: .5em;
        padding: 1em .5em;
    }
}